
/* .verify-account{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.verify-account-body{
    display: grid;
    place-items: center;
    flex: 1;
}

.verify-account-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
} */

.verify-account-details p{
    color: gray;
}
/* 
.verify-account-details div{
    border: 1px solid rgb(219, 219, 219);
    border-radius: 25px;
    padding: 10px 0px;
    background: rgb(247, 247, 247);
    width: 200px;
    margin: auto;
} */

/* .verify-account-details h5{
    color: rgb(97, 97, 97);
}

.verify-account-details h6{
    color: green; 
}
*/
