
/* .home{
    display: flex;
    flex-direction: column;
    height: 100%;
} */

/* header{
    border-bottom: 1px solid rgb(231, 231, 231);
    padding: 5px;
} */

/* header > div{
    display: flex;
    background: rgb(241, 239, 239);
    width: 310px;
    margin: auto;
    align-items: center;
    justify-items: space-between;
    padding: 5px;
} */

/* header p{
    font-size: small;
} */

/* .students{
    background-color: white;
    border-radius: 3px;
    border:1px solid rgb(231, 231, 231);
    padding: 8px 17px;
} */

/* .students > p{
    font-weight: bold;
} */

/* .partners{
    font-weight: 500;
    padding: 8px 17px;
} */

/* .body-container{
    background-color: rgb(231, 231, 231);
    flex: 1;
    display: grid;
    place-items: center;
} */

/* .body-content{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    gap: 20px;
} */
/* 
.body-container h1{
    font-size: 50px;
    font-weight: 900;
    padding: 10px 0;
} */
/* 
.body-container h2{
   padding: 5px 0;
   
   font-weight: 800;
   font-size: 25px;
} */

/* .body-container h2 span{
    color: rgb(1, 141, 1);
} */